* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Poppins;
  src: url(../fuentes/Poppins-Medium.ttf);
}
body{
  width: 100%;
  height: 1000px;
}
.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/pexels-andrew-neel-2312369.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}
.Home div h2
{
  display: flex;
  color: rgb(240, 187, 13);
  font-size: 60px;
}

.Home div h1 {
  margin-top: 15%;
  width: 100%;
  color: aliceblue;
  font-size: 70px;
}
.Home div p{
  text-align: center;
font-size: 25px;
color: rgb(207, 212, 216);
}
a {
  text-decoration: none;
}
a i{
  width: 100%;
text-align: center;
  font-size: 50px;
}
  
.redes{
  width: 60%;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap:50px;
}
.redes a{
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100px;
  border: 3px solid whitesmoke;
}